
#console {
	width: 600px;
	height: 0px; 
	margin: 0 auto;
	margin-top: 40px;
	padding: 20px;
	border: 1px solid white;
	border-radius: 10px;
	background: #121212;
	box-shadow:10px 10px 30px #ADA8B5;
	opacity:0;
}
#consoleInput{
	float:left;
	margin-left: 7px;
	margin-right: 7px;
	border: 0px;
	background: #121212;
	color: #00ff00;
	font-family: 'Fauna One', serif; 
}
#getInput{
	width: 500px;
	margin: 0 auto;
	margin-top: 20px;
}
#scraper_header {
	width: auto;
	height: 60px;
	background: #121212;
	background: -webkit-gradient(linear, left top, left bottom, from(#121212), to(#122222));
	background: -moz-linear-gradient(top, #9C80E8,  #6E53B0);
	text-align: center;
	padding-top: 20px; 
	margin-bottom: 0px; 
	color: #00ff00;
	font-family: Courier New;
	border-bottom: 2px solid #00CC00;
}

#scraper_indexHeader {
	background: #121212;
	height: 120px;
	padding-top: 60px; 
	margin-bottom: 100px; 
	border-bottom: 2px solid #00CC00;	
	box-shadow:0px 10px 30px #ADA8B5;
}

body {
	margin: 0px; 
	text-align: center;
	background: #E6E6E6;
}

#scraper_mainContent {
	width: auto;
	margin: 0 auto;
	margin: 20px;
}

#scraper_menu{
	width: auto;
	height: 30px;
	background: #00CC00;	
	box-shadow:0px 10px 30px #ADA8B5;
	margin-bottom: 100px;
}
#scraper_json {
	width: 500px;
	height: 580px;
	background: #fff;
	border: 1px solid black;
	margin: 0 auto;
	float: left;
	overflow: scroll;
}
p {
	font-family: 'Fauna One', serif; 
}
.notice {
	float: left;
	color: #00ff00;
	display: inline;
	margin: 0px;
	margin-bottom: 7px;
	font-family: 'Fauna One', serif; 
}
#scraper_pageView {
	width: 700px;
	height: 580px;
	background: #fff;
	border: 1px solid black;
	margin-bottom: 20px;
	margin: 0 auto;
	float: right;
	overflow: scroll;
}
