<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/css/styles.css">
		<link href='http://fonts.googleapis.com/css?family=Fauna+One' rel='stylesheet' type='text/css'>
		<title>Scraper Factory</title>
		
		<html>

  <script src="static/js/jquery-2.0.3.js"></script>
  <script src="static/js/main.js"></script>

		
	</head>

	
	<body>
		<div id="scraper_indexHeader">
			<img src="static/img/logo.png" alt="Scraper Factory">
		</div>
		<div id='scraper_mainContent'>
			<p> Enter website: </p>
			<form name="urlForm" action="slide2.html" method="get">
				<input type="text" name="url" size="50"><br>	
				<br />
				<input type="submit" value="Scrape!">
			</form>
		</div>
		
	</body>
	
	
</html>