<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
		<title>Scraper Factory</title>		
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<script src="static/js/jquery-2.0.3.js"></script>
		<script src="static/js/main.js"></script>
			  
	</head>
	
	
	<body>
		<div id='scraper_header'>
			<a href="index.html"><img style="float:left; margin-left:20px" src="../static/img/logoSmall.png" alt="Scraper Factory" size="50%"></a>
		</div>
		<div id='scraper_mainContent'>
			<div id='scraper_pageView' class='view'>
				{{external_html}}
			</div>
			<div id="scraper_json" style="text-align:left">
				<form id="json">
					<input type="text" name="firstname" size="20" value="First Name"><p class="value">John</p>
						<br/>
					<input type="text" name="lastname" size="20" value="Last Name"><p class="value">Smith</p>
						<br/>
					<input type="text" name="age" size="20" value="Age"><p class="value">25</p>
						<br/>
					<input type="text" name="address" size="20" value="Address">
							<br/>
						<input type="text" name="streetAddress" size="20" value="Street Address"><p class="value">21 2nd Street</p>
							<br/>
						<input type="text" name="city" size="20" value="City"><p class="value">New York</p>
							<br/>
						<input type="text" name="state" size="20" value="State"><p class="value">NY</p>
							<br/>
						<input type="text" name="postalCode" size="20" value="Postal Code"><p class="value">10021</p>
							<br/>
							
					<input type="text" name="phoneNumbers" size="20" value="Phone Numbers">
						<br/>
						<input type="text" name="type" size="20" value="Type"><p class="value">Home</p>
							<br/>
						<input type="text" name="type" size="20" value="Number"><p class="value">772-867-5309</p>
							<br/>
						<input type="text" name="type" size="20" value="Type"><p class="value">Cell</p>
							<br/>
						<input type="text" name="type" size="20" value="Number"><p class="value">778-928-1292</p>
							<br/>
				
				</form>
			</div>
			
			
		</div>
		
	</body>
	
	
</html>