<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/css/styles.css">
		<title>Scraper Factory</title>
		<script src="testScript.js"></script>
		
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  
	</head>
	
	
	<body>
		<div id='scraper_header'>
			<a href="index.html"><img style="float:left; margin-left:20px" src="static/img/logoSmall.png" alt="Scraper Factory" size="50%"></a>
		</div>
		<div id='scraper_mainContent'>
			<div id='scraper_pageView'>
				{{external_html|safe}}
			</div>
			<div id='scraper_json'>
			
			</div>
			
		</div>
		
	</body>
	
	
</html>